body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sideBar{
    position:fixed;
    top:0px;
    left:0px;
    width:30vw;
    bottom:0px;
    background-color:#135fb4;
    overflow-y: hidden;
    background: url("img/indice.jpeg") repeat fixed;
}

.sideBar img{
    height: 15vw;
    width: 15vw;
    border-radius: 180px;
    border:5px solid #2e6295;;
    margin-top:7vw;
    margin-left:7vw;
}

.sideBar ul{
    padding:0px;
}

.sideBar li{
    padding:10px;
    list-style-type: none;
    text-align: center;
}
.sideBar li a{
    color:#fff;
    text-decoration: none;   
    text-transform:  uppercase;
}

.sideBar li a:hover{
    /* color:#fff;     */
    font-size:1.2em;
}

.version{
    position:absolute;
    color:#709df1;
    bottom:0px;
    font-size:0.8em;
    text-align:center;
    padding:10px;
}

.content{
    position:absolute;
    top:0px;
    left:34vw;
    padding-right:100px;
}

.content h1{
    margin: 150px 0px 0px 0px;
    font-size: 3em;
    padding: 0px;
}

.content h1 span, .content h5 span {
    color:#135fb4;
}

.content h5{
    color:#666;
    padding: 0px;
    margin:0px;
}

.about{
    color:#333;
    margin-top:50px;
    text-align: justify;
    margin-bottom: 200px;
}

.seccion{
    border-bottom:1px solid rgb(190, 190, 190);
    padding-bottom:200px;
}

.seccion h2{
    color:#135fb4;
}

.seccion p{
    color:#333;
    text-align: justify;
}

.content li{
    margin-bottom: 30px;
}

#about-mobile{
    display:none;
}

.rss{
    padding:50px 0 0 0;        
}

.rss a{
    text-decoration: none;
    color:rgb(107, 106, 106);
    padding:10px;
    z-index:1000;
}

.rss a:hover{
    color:rgb(29, 29, 29);
}

.skills{
    border-collapse: collapse;
    border:none;
    margin-left:100px;
}

.skills thead{
    background-color:#135fb4;
}

thead td{
    color:#fff !important;
    font-weight: bold;
}

.skills td{
 height: 30px;
 width:50px;
 border-bottom:1px solid #efefef;
 text-align: center;
 color:green;
}

.skills td i:hover{
    font-size:1.4em;
}

.nameSkill{
    width: 200px !important;
    text-align: left !important;
    padding-left:50px;
    font-weight: bold;
    color: #000000 !important;
    background-color: #efefef;
    border-bottom:1px solid #d7d7d7 !important;
}

.nameSkill:hover{
    background-color:#e4e4e4;
}

a{
    color:#333;
}

@media only screen and (max-width: 775px) {
    .content{
        left:0;
        padding:0;
        margin:0;
    }

    .rss a{
        font-size: 0.65em;
    }

    #about{
      padding: 60vw 6vw 40vw 2vw;
      background: url("img/indice.jpeg") no-repeat fixed center;
      color: #fff;
      font-size:0.6em;
    }

    .rss a:hover{
        color:rgb(29, 29, 29);
        font-size:1.05em;
    }

    #about h1 span{
        color:#7bb8e0;
        font-size:1.6em;
    }

    .sideBar, #about p, #about h5, br{
        display:none;
    }

    #about-mobile{
        display:block;
    }

    #about-mobile p{
        margin-right: 10vw;
    }

    .rss{
        padding:0;
        color:#fff;
        font-size:1.6em;
    }

    .rss a{
        color:#000;
    }

    /* .seccion ul li p{
        display:none;
    } */
    .seccion, #about-mobile{
        padding:2px 2px 2px 30px;
        color:#aaa;
    }

    .seccion li{
        list-style: none;
        color:#aaa;
    }

    .seccion ul{
        padding:0;
        margin-right: 10vw;
    }

    .skills{
        margin-left:0px;
        margin-right: 10vw;
        margin-bottom: 20vw;
    }

    #education, #about-mobile{
        background:#f8f8f8;
    }

    .nameSkill{
        width: 35vw !important;
        padding-left:5vw;
    }
}